/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
}

.card__price {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
}

.card__button {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 20px;
}

.book_model {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__title {
  margin-right: 20px;
  max-width: 80%;
  white-space: normal;
}
